<h4>Rendering dummy data from the model</h4>

{{#each model as |list|}}

<h3>The title of the list is: {{list.title}}</h3>
<h5>The id of the list is: {{list.id}}</h5>

{{/each}}

{{#link-to 'application'}}Go back{{/link-to}}
