{{na-bar}}

<h3>This is the page for practiting Ember</h3>
<h5>Click on the nav bar to get redirected to different view states (URL)</h5>
{{!-- before nav-bar --}}
{{!-- {{#link-to 'about'}}
   <h2>New about page</h2>
{{/link-to}} --}}

{{!-- <h2>My page</h2> --}}


{{!-- if we don't have outlet then nothing from about template will be shown --}}
{{outlet}}
